<strong>Olá {{ student }} </strong>
<p>Sua dúvida acaba de ser respondida por um profissional da nossa equipe. Confira abaixo:</p>
<p>
    <strong>Sua dúvida: </strong> {{ question }} <br />
    <strong>Respota: </strong> {{ answer }} <br />

    <small>
        Espero que tenhamos ajudado, qualquer dúvida nos procure :)
    </small>
</p>
